@model ViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="newdata new-user">
<div class="registrationform">
    <h3>Регистрация</h3>
    <form method="post" asp-controller="Home" asp-action="ActRegistration">
    <div class = "name">
        <input Name="Name" placeholder="Name" required class="form-control"/>

    </div>
    <div class="sex">
     <input Name="Sexgender" placeholder="Sexgender" required  class = "form-control"/>

    </div>
    <div class="age">
    <input Name="Age" placeholder="Age" required class = "form-control"/>

    </div>
    <div class="login">
    <input Name="Phone" placeholder="Phone" required class = "form-control"/>

    </div>
    <div class="login">
    <input Name="Login" placeholder="Login" required class = "form-control"/>

    </div>
    <div class="password">
    <input Name="Password" placeholder="Password" required class = "form-control"/>
    </div>
    <div class="submitbutton">
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
</form>

</div>
