@model ViewModel


<div class="newdata new-brand">
    <h3>Добавить бренд</h3>
    <h4>можно здесь</h4>
    <form method="post" asp-controller="Home" asp-action="ActBrand">
        <p>Название бренда</p>
        <input type="text" name="name" required />
        <p>Описание бренда</p>
        <input type="text" name="disc" required />
        <input type="submit" value="enter" />
    </form>
</div>