.white-space {
	width: 100%;
	height: 80px;
}

.Article {
	margin-top: 10px;
}

#banner {
	position: relative;
	min-height: 500px;
	max-height: 510px;
	width: 100%;
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#namecontainer {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.naming-zone {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
}

.naming {
	position: relative;
	width: 100%;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

	.naming::after {
		display: block;
		content: "";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		/*background: rgba(0,0,0,0.7);*/
		background-image: linear-gradient(to bottom, #111, #000, #000, #000, #000, #333);
		opacity: 0.9;
	}

	.naming h1, .naming p {
		position: relative;
		z-index: 3;
		color: #fff;
	}

	.naming p {
		margin: 0.3rem;
	}

	.naming h5 {
		margin: 0;
		position: relative;
		z-index: 3;
		color: #fff;
	}
